* {font-family:'Courier New', Courier, monospace; color: blue;}


nav{background-color: #55ff4c;}

header{background-color: olive;
text-align: center; 
padding:10px;}

section{background-color: #9f9f9f;}


footer{background-color: #aeddff;
text-align: center;
padding:10px;}


article{background-color: #c5ccff;}

a{color: white;}

h1 {color: white;}

h2 {color:darkolivegreen;}

h4{color:white;}

.foot-p{color:white;}

header p {color:white;}